---
layout: base.njk
titre_page: Message envoyé
permalink: /merci/
---
{% import "macros.njk" as m %}
{{ m.hero("Contact", "Merci, votre message est envoyé", "Le bureau vous répond sous une semaine.") }}
<div class="wrap" style="padding-block:40px 80px"><a class="btn red" href="/">Retour à l'accueil</a></div>
